.DS_Store
.repo
build
buildroot
hafnium
linux
linux-arm-ffa-user
mbedtls
ms-tpm-20-ref
optee_benchmark
optee_client
optee_examples
optee_ftpm
optee_os
optee_rust
optee_test
out-aarch64-sdk
qemu
SCP-firmware
toolchains
trusted-firmware-a
trusted-services
u-boot
xen
